# Node dependencies
/node_modules/
/.pnp
.pnp.js

# Build output
/build/
/dist/

# Cache and logs
.cache/
.parcel-cache/
.npm/
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
